---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jump Guard">
	<h2>Overview</h2>
	<p>A hack of MouseGuard for the Mongoose Traveller setting.</p>
	
	<h3>How it's different to Mongoose Traveller</h3>
	<p>Placeholder content</p>
	
	<h3>Unplanned stories</h3>
	<p>Placeholder content</p>
	
	<h3>Taking turns</h3>
	<p>Placeholder content</p>
	
	<h3>Dice rolls, successes and failures</h3>
	<p>Placeholder content</p>
	
	<h3>Roll annotations, margins of success & failure</h3>
	<p>Placeholder content</p>
</Layout>